[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/perplex"]
	path = themes/perplex
	url = https://github.com/bowman2001/perplex
